// @version 0.0.1.1

#include "version.h"


#ifdef CVMD2HTML
103 ICON "menu.ico"
#endif


1 VERSIONINFO
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
  BLOCK "007f04b0"
  {
    VALUE "ProductName", "CvMd2Html Shortcut"
    VALUE "ProductVersion", VER_VERSION_STR
    VALUE "LegalCopyright", "© 2024 sangafabrice"
    VALUE "CompanyName", "sangafabrice"
    VALUE "FileVersion", VER_VERSION_STR
#ifdef CVMD2HTML
    VALUE "FileDescription", "CvMd2Html"
    VALUE "OriginalFileName", "cvmd2html.exe"
#else
    VALUE "FileDescription", "StdRegProv"
#endif
  }
}

BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x007F 0x04B0
}
}